
PROJECT/consts.py
PROJECT/__pycache__/tab.cpython-36.pyc
PROJECT/__pycache__/style_consts.cpython-36.pyc
PROJECT/__pycache__/registration.cpython-36.pyc
PROJECT/__pycache__/one_day.cpython-36.pyc
PROJECT/__pycache__/one_day.cpython-310.pyc
PROJECT/__pycache__/mail.cpython-36.pyc
PROJECT/__pycache__/mail.cpython-310.pyc
PROJECT/__pycache__/db_consts.cpython-36.pyc
PROJECT/__pycache__/db_consts.cpython-310.pyc
PROJECT/__pycache__/database.cpython-36.pyc
PROJECT/__pycache__/database.cpython-310.pyc
PROJECT/FIRM.db
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/TKRIS_QR_audit.iml
.idea/vcs.xml
.idea/workspace.xml
PROJECT/tab.py
PROJECT/style.py
PROJECT/sql_scripts.py
PROJECT/scanner.py
PROJECT/registration.py
PROJECT/one_day.py
PROJECT/mail.py
PROJECT/interface.py
PROJECT/img/scan.png
PROJECT/img/logo.png
PROJECT/database.py
PROJECT/__pycache__/style.cpython-36.pyc
PROJECT/__pycache__/sql_scripts.cpython-36.pyc
PROJECT/__pycache__/consts.cpython-36.pyc
.idea/dataSources/83a0ae6d-f382-4c1d-ad25-c5edf92cb1f2.xml
